<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>List Todo</h1>
        <ol>
            <li v-for="item in listTodo">
                {{ item }}
            </li>
        </ol>
        <input type="text" v-model="item">
        <button @click="addList">Tambahkan</button>
        <h1>{{ message }}</h1>
        <h1 v-if="listTodo.length >= 4">Hebat!</h1>
    </div>

    <script>
        const myVue = new Vue({
            el: '#app',
            data: {
                listTodo: [],
                item: ""
            },
            methods: {
                addList (){
                    if (this.item.trim() !== "") {
                        this.listTodo.push(this.item)
                        this.item = ""
                    }
                }
            }
        })
        
    </script>
</body>
</html>